logger==1.4
matplotlib
numpy==1.16.3
orjson==3.0.2
dill==0.3.4 
requests==2.22.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu111
torchprof
-f https://pytorch-geometric.com/whl/torch-1.8.0+cu111.html
torch-scatter==2.0.8
wandb==0.10.9
optuna==2.9.1
git+https://github.com/fadel/pytorch_ema@3950a7b5c4b88f46fd14f620277bad21898597a9
