XpV0(
    project: "dcc",
    containers: {
        "showmatch": (
            command: ["python", "showmatch.py", "--task=ENHANCED", "--num_envs=16", "--hardness=150", "enhanced/helpful-rain-1.75b-ema09997.pt", "enhanced/helpful-rain-2b-ema09999.pt"],
            gpu: 1,
            gpu_mem: "11GB",
            volumes: {
                "/mnt/a/Dropbox/artifacts/xprun": "/mnt/xprun",
            },
            build: [
                From("nvcr.io/nvidia/pytorch:21.03-py3"),
                Repo(path: "requirements.txt", rm: true),
                Run("pip install -r requirements.txt"),
                Repo(cd: true),
            ],
        ),
        "codecraftserver": (
            command: ["sbt", "run"],
            env: {
                "SBT_OPTS": "-Xmx15G",
            },
            tty: true,
            build: [
                From("hseeberger/scala-sbt:8u222_1.3.5_2.13.1"),

                // build fixed versions of CodeCraftGame and CodeCraftServer as a straightforward way to download sbt 0.13.16 and populate dependency cache
                Repo(url: "https://github.com/cswinter/CodeCraftGame.git", rev: "92304eb", cd: true, rm: true),
                Run("sbt publishLocal"),
                Repo(url: "https://github.com/cswinter/CodeCraftServer.git", rev: "df76892", cd: true, rm: true),
                Run("sbt compile"),

                // build CodeCraftGame and CodeCraftServer from source
                Repo(url: "https://github.com/cswinter/CodeCraftGame.git", rev: "edc5a9f2", cd: true),
                Run("sbt publishLocal"),
                Repo(url: "https://github.com/cswinter/CodeCraftServer.git", rev: "01a7dde", cd: true),
                Run("sbt dist"),
                Run("unzip server/target/universal/server-0.1.0-SNAPSHOT.zip"),
            ],
        ),
    }
)
