XpV0(
    project: "dcc",
    containers: {
        "showmatch": (
            command: ["python", "showmatch.py", "--task=ARENA_MEDIUM", "--num_envs=2", "--create_game_delay=2.0", "arena_medium/arena_medium-5f06842-0-10m"],
            dockerfile: "Dockerfile",
            copy_repo: true,
        ),
        "codecraftserver": (
            dockerfile: "CodeCraftServer.Dockerfile",
            tty: true,
        ),
    }
)
