XpV0(
    project: "dcc",
    containers: {
        "trainer": (
            command: ["python", "main.py"],
            env_secrets: {
                "WANDB_API_KEY": "wandb-api-key",
            },
            replicas: 1,
            gpu: 1,
            gpu_mem: "5GB",
            cpu_mem: "4GB",
            build: [
                From("nvcr.io/nvidia/pytorch:21.03-py3"),

                // install rust toolchain
                Run("apt-get update"),
                Run("apt-get install curl build-essential --yes"),
                Run("curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"),
                Env("PATH", "/root/.cargo/bin:${PATH}"),
                Run("pip install --upgrade pip"),
                Run("pip install maturin"),

                // build xprun from source
                Repo(url: "git@github.com:cswinter/xprun.git", rev: "eb59b24", cd: true),
                Run("maturin build --cargo-extra-args=--features=python"),
                Run("pip install target/wheels/xprun-0.1.0-cp38-cp38-manylinux_2_*_x86_64.whl"),

                // build pyron from source
                Repo(url: "git@github.com:cswinter/pyron.git", rev: "23825de", cd: true),
                Run("maturin build"),
                Run("pip install target/wheels/pyron-0.1.0-cp38-cp38-manylinux_2_*_x86_64.whl"),

                Repo(path: "requirements.txt", cd: true, rm: true),
                Run("pip install -r requirements.txt"),

                Repo(url: "git@github.com:cswinter/hyperstate.git", rev: "77893bf", cd: true),
                Run("pip install -e ."),

                Repo(cd: true),
            ],
        ),
        "codecraftserver": (
            command: ["server-0.1.0-SNAPSHOT/bin/server", "-Dplay.http.secret.key=ad31779d4ee49d5ad5162bf1429c32e2e9933f3b"],
            cpu: 4,
            cpu_mem: "20GiB",
            tty: true,
            env: {
                "SBT_OPTS": "-Xmx10G",
            },
            build: [
                From("hseeberger/scala-sbt:8u222_1.3.5_2.13.1"),

                // build fixed versions of CodeCraftGame and CodeCraftServer as a straightforward way to download sbt 0.13.16 and populate dependency cache
                Repo(url: "https://github.com/cswinter/CodeCraftGame.git", rev: "92304eb", cd: true, rm: true),
                Run("sbt publishLocal"),
                Repo(url: "https://github.com/cswinter/CodeCraftServer.git", rev: "df76892", cd: true, rm: true),
                Run("sbt compile"),

                // build CodeCraftGame and CodeCraftServer from source
                Repo(url: "https://github.com/cswinter/CodeCraftGame.git", rev: "edc5a9f2", cd: true),
                Run("sbt publishLocal"),
                Repo(url: "https://github.com/cswinter/CodeCraftServer.git", rev: "302a379", cd: true),
                Run("sbt dist"),
                Run("unzip server/target/universal/server-0.1.0-SNAPSHOT.zip"),
            ],
        ),
    }
)
