XpV0(
    project: "dcc",
    containers: {
        "trainer": (
            command: ["python", "main.py"],
            dockerfile: "Dockerfile",
            copy_repo: true,
            env_secrets: {
                "WANDB_API_KEY": "wandb-api-key",
            },

            gpu: 1,
            gpu_mem: "5GB",
            volumes: {
                "/mnt/a/Dropbox/artifacts/xprun": "/mnt/xprun",
            },
        ),
        "codecraftserver": (
            dockerfile: "CodeCraftServer.Dockerfile",
            tty: true,
            env: {
                "SBT_OPTS": "-Xmx15G",
            },
        ),
    }
)
