Config(
    version: 4,
    optimizer: OptimizerConfig(
        lr: "step: 7e-4@0 cos 5e-5@250e3",
        momentum: 0.985,
        batch_size: 256,
        micro_batch_size: 256,
    ),
    eval: EvalConfig(
        envs: 0,
    ),
    ppo: PPOConfig(
        steps: 250000,
        num_envs: 128,
        num_self_play: 0,
        seq_rosteps: 32,
        cliprange: 0.3,
    ),
    task: TaskConfig(
        objective: "ALLIED_WEALTH",
    ),
    adr: AdrConfig(),
    policy: PolicyConfig(),
    obs: ObsConfig(
        allies: 1,
        obs_enemies: 0,
        obs_map_tiles: 0,
        use_privileged: false,
    ),
)