Config(
  version: 0,
  ppo: (
    steps: 20e6,
    num_envs: 256,
    num_self_play: 128,
    gamma: 0.997,
    seq_rosteps: 128,
  ),
  task: (
    objective: "ARENA_TINY_2V2",
  ),
  eval: (
    eval_frequency: 1e6,
    model_save_frequency: 1,
    eval_envs: 256,
    eval_timesteps: 360,
    eval_symmetric: false,
  ),
  optimizer: (
    lr: Schedule(
      key: "state.step/config.steps",
      schedule: [
        (0, 0.0005),
        "lin",
        (1, 0),
      ],
    ),
    entropy_bonus: Schedule(
      key: "state.step/config.steps",
      schedule: [
        (0, 0.0003),
        "lin",
        (1, 0),
      ],
    ),
    vf_coef: 2.0,
    batch_size: 1024,
    micro_batch_size: 1024,
    weight_decay: 0.00002,
  ),
  obs: (
    allies: 2,
    obs_enemies: 2,
    obs_minerals: 1,
    obs_map_tiles: 0,
  ),
  policy: (
    d_agent: 128,
    agents: 2,
    nenemy: 2,
    nally: 2,
    // Could be 0, currently incompatible with ally_enemy_same=False
    nmineral: 1,
    ntile: 0,
  ),
  adr: {},
)