Config(
    version: 4,
    optimizer: OptimizerConfig(
        batch_size: 16384,
        micro_batch_size: 256,
        entropy_bonus: "step: 0.3@0 lin 0.15@20e6 lin 0.0@200e6",
        lr: "step: 0.0005@0 lin 0.0@250e6",
    ),
    eval: EvalConfig(
        envs: 128,
        frequency: 5e6,
        steps: 5000,
    ),
    ppo: PPOConfig(
        gamma: 0.999,
        steps: 250e6,
        num_envs: 128,
        num_self_play: 64,
        win_bonus: 2.0,
        seq_rosteps: 128,
    ),
    task: TaskConfig(
        objective: "ENHANCED",
        unit_cap: "step: 6@0 lin 20@50e6",
        adr: true,
        enforce_unit_cap: true,
        rule_rng_fraction: 1.0,
        rule_rng_amount: 1.0,
        mothership_damage_scale: 0.0,
    ),
    adr: AdrConfig(
        warmup: 0,
        variety: "step: 0.3@0 lin 0.15@150e6 0.1@200e6 0.01@250e6",
        cost_variance: "step: 2.0@0 lin 1.0@20e6 0.1@200e6",
        hstepsize: 2.5e-6,
        max_hardness: 150,
        linear_hardness: true,
    ),
    policy: PolicyConfig(
        nally: 20,
        nenemy: 20,
        agents: 20,
        nmineral: 5,
        ntile: 5,
    ),
    obs: ObsConfig(
        allies: 20,
        obs_enemies: 20,
        obs_minerals: 5,
        obs_map_tiles: 5,
        feat_last_seen: true,
        use_privileged: true,
        feat_mineral_claims: true,
        harvest_action: true,
        feat_dist_to_wall: true,
    ),
)